@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer base {
  root:

}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

html {
  font-family: "davis-sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
}

.bg-content1 {
  --tw-bg-opacity: 1;
  background-color: #ffffff;
}

.sm\:my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.sm\:mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.backdrop-opacity-disabled {
  --tw-backdrop-opacity: .5;
}

.bg-overlay\/50 {
  background-color: #00000080;
}

.backdrop-opacity-disabled, .backdrop-saturate-150 {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.esc-size-guide--title {
  font-weight: 700;
  margin: 15px 0;
  padding: 0;
}

.esc-size-guide--table-wrap {
  overflow-x: auto;
}

th.esc-size-guide--heading.esc-size-guide--row1 {
  background-color: #f4f4f5;
}

td.esc-size-guide--cell.esc-size-guide--row3 {
  background-color: #f4f4f5;
}

td.esc-size-guide--cell.esc-size-guide--row5 {
  background-color: #f4f4f5;
}

td.esc-size-guide--cell.esc-size-guide--row7 {
  background-color: #f4f4f5;
}

td.esc-size-guide--cell.esc-size-guide--row9 {
  background-color: #f4f4f5;
}

td.esc-size-guide--cell.esc-size-guide--col1.esc-size-guide--row2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

td.esc-size-guide--cell.esc-size-guide--col1.esc-size-guide--row3 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

td.esc-size-guide--cell.esc-size-guide--col1.esc-size-guide--row4 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

td.esc-size-guide--cell.esc-size-guide--col1.esc-size-guide--row5 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: subpixel-subpixel-antialiased !important;
}

td.esc-size-guide--cell.esc-size-guide--col1.esc-size-guide--row6 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

td.esc-size-guide--cell.esc-size-guide--col1.esc-size-guide--row7 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

td.esc-size-guide--cell.esc-size-guide--col1.esc-size-guide--row8 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

td.esc-size-guide--cell.esc-size-guide--col1.esc-size-guide--row9 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

td.esc-size-guide--cell.esc-size-guide--col1.esc-size-guide--row10 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

td.esc-size-guide--cell.esc-size-guide--col1.esc-size-guide--row11 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: subpixel-antialiased !important;
}
.esc-size-guide--table {
  table-layout: auto !important;
  white-space: nowrap;
  margin: auto;
  width: 100%;
}

.esc-size-guide--cell, .esc-size-guide--heading {
  border: 1px solid #ddd;
  padding: 10px 15px;
  text-align: left;
}

.esc-size-guide--heading {
  font-weight: 700;
}

.esc-size-guide {
  -webkit-overflow-scrolling: touch;
  background: #fff;
  text-align: center;
  z-index: 10000001;
}

button.absolute.appearance-none.select-none.top-1.right-1.rtl\:left-1.rtl\:right-\[unset\].p-2.text-foreground-500.rounded-full.hover\:bg-default-100.active\:bg-default-200.tap-highlight-transparent.outline-none.data-\[focus-visible\=true\]\:z-10.data-\[focus-visible\=true\]\:outline-2.data-\[focus-visible\=true\]\:outline-focus.data-\[focus-visible\=true\]\:outline-offset-2 {
  right: -4px;
  top: -40px;
  background: white;
}

section#\:Rn6r7rrqfnj6\: {
  overflow-y: visible;
  width: 90%;
}

table {
  font-family: 'calibre', sans-serif;
}

button {
  font-family: 'calibre', sans-serif;
}

@import url("https://p.typekit.net/p.css?s=1&k=ejq0qsd&ht=tk&f=35101.35104.35105&a=104413158&app=typekit&e=css");

@font-face {
font-family:"davis-sans";
src:url("https://use.typekit.net/af/ebbf33/00000000000000007735edfb/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/ebbf33/00000000000000007735edfb/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/ebbf33/00000000000000007735edfb/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"davis-sans";
src:url("https://use.typekit.net/af/e85af6/00000000000000007735edfd/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/e85af6/00000000000000007735edfd/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/e85af6/00000000000000007735edfd/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"davis-sans";
src:url("https://use.typekit.net/af/f47797/00000000000000007735ee02/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f47797/00000000000000007735ee02/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f47797/00000000000000007735ee02/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
	font-family: gulliver;
	src: url("https://tokens.dijets.io/utility-fonts/css/ElsevierGulliver-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: voyage;
	src: url("https://tokens.dijets.io/utility-fonts/css/Voyage-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: calibre;
	src: url("https://tokens.dijets.io/utility-fonts/css/FeyCalibre-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: calibre-light;
	src: url("https://tokens.dijets.io/utility-fonts/css/feycalibre-light-webfont.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

p {
	font-family: "davis-sans", sans-serif !important;
}

.guli {
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0;
  text-wrap: balance;
  font-family: "davis-sans",sans-serif!important;
}

.text-tin {
  text-align: left;
  font-size: 13px;
  color: #959595;
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }
}

