:root {
    --color-black: #222;
    --color-off-black: #111;
    --color-dark-grey: #686868;
    --color-grey: #989898;
    --color-mid-grey: #c2c2c2;
    --color-light-mid-grey: #ddd;
    --color-light-grey: #eaeaea;
    --color-off-white: #f9f9f9;
    --color-white: #fff;
    --color-lemon: #fbe9ab;
    --color-raspberry: #bf2d50;
    --color-peach: #f9c1a0;
    --color-mint: #d8ffa4;
    --color-strawberry-cream: #efc7c2;
    --color-light-stone: #f4f3ef;
    --color-sand: #f8f2e3;
    --color-light-peach: #ffe5d4;
    --color-off-white-grey: #f8f8f8;
    --color-off-white-sand: #fbf8f1;
    --color-wedgewood-blue: #91a8d1;
    --color-latte: #d8ccaf;
    --color-error: #a14122;
    --space-4: .4rem;
    --space-5: .5rem;
    --space-8: .8rem;
    --space-10: 1rem;
    --space-12: 1.2rem;
    --space-15: 1.5rem;
    --space-16: 1.6rem;
    --space-20: 2rem;
    --space-25: 2.5rem;
    --space-30: 3rem;
    --space-32: 3.2rem;
    --space-35: 3.5rem;
    --space-40: 4rem;
    --space-45: 4.5rem;
    --space-50: 5rem;
    --space-55: 5.5rem;
    --space-60: 6rem;
    --space-65: 6.5rem;
    --space-70: 7rem;
    --space-75: 7.5rem;
    --space-80: 8rem;
    --space-85: 8.5rem;
    --space-90: 9rem;
    --space-100: 10rem;
    --space-110: 11rem;
    --space-120: 12rem;
    --space-130: 13rem;
    --space-150: 15rem;
    --space-160: 16rem;
    --space-200: 20rem;
    --base-font-size: 10px;
    --gutter: var(--space-15);
    --section-spacing: 40px;
    --font-xl-style: normal;
    --font-xl-weight: 400;
    --font-xl-size: 4.5rem;
    --font-xl-line-height: .95;
    --font-xl-family: "voyage";
    --font-xl-text-transform: none;
    --font-xl-letter-spacing: -0.02em;
    --font-h1-style: normal;
    --font-h1-weight: 400;
    --font-h1-size: 4.5rem;
    --font-h1-line-height: 1;
    --font-h1-family: "voyage";
    --font-h1-text-transform: none;
    --font-h1-letter-spacing: -0.02em;
    --font-h2-style: normal;
    --font-h2-weight: 400;
    --font-h2-size: 3.6rem;
    --font-h2-line-height: 1;
    --font-h2-family: "voyage";
    --font-h2-text-transform: none;
    --font-h2-letter-spacing: 0;
    --font-h3-style: normal;
    --font-h3-weight: 400;
    --font-h3-size: 3.2rem;
    --font-h3-line-height: 1;
    --font-h3-family: "voyage";
    --font-h3-text-transform: none;
    --font-h3-letter-spacing: normal;
    --font-h4-style: normal;
    --font-h4-weight: 400;
    --font-h4-size: 2.8rem;
    --font-h4-line-height: 1.1;
    --font-h4-family: "voyage";
    --font-h4-text-transform: none;
    --font-h4-letter-spacing: 0;
    --font-h5-style: normal;
    --font-h5-weight: 400;
    --font-h5-size: 2rem;
    --font-h5-line-height: 1.2;
    --font-h5-family: "davis-sans";
    --font-h5-text-transform: none;
    --font-h5-letter-spacing: normal;
    --font-h6-style: normal;
    --font-h6-weight: 400;
    --font-h6-size: 1.6rem;
    --font-h6-line-height: 1.2;
    --font-h6-family: "davis-sans";
    --font-h6-text-transform: none;
    --font-h6-letter-spacing: .01em;
    --font-eyebrow-regular-style: normal;
    --font-eyebrow-regular-weight: 400;
    --font-eyebrow-regular-size: 1.2rem;
    --font-eyebrow-regular-line-height: 1.4;
    --font-eyebrow-regular-family: "davis-sans";
    --font-eyebrow-regular-text-transform: uppercase;
    --font-eyebrow-regular-letter-spacing: .04em;
    --font-eyebrow-small-style: normal;
    --font-eyebrow-small-weight: 400;
    --font-eyebrow-small-size: 1rem;
    --font-eyebrow-small-line-height: 1.4;
    --font-eyebrow-small-family: "davis-sans";
    --font-eyebrow-small-text-transform: uppercase;
    --font-eyebrow-small-letter-spacing: .04em;
    --font-utility-1-style: normal;
    --font-utility-1-weight: 400;
    --font-utility-1-size: 1.2rem;
    --font-utility-1-line-height: 1.4;
    --font-utility-1-family: "davis-sans";
    --font-utility-1-text-transform: uppercase;
    --font-utility-1-letter-spacing: .04em;
    --font-utility-2-style: normal;
    --font-utility-2-weight: 400;
    --font-utility-2-size: 1rem;
    --font-utility-2-line-height: 1.4;
    --font-utility-2-family: "davis-sans";
    --font-utility-2-text-transform: uppercase;
    --font-utility-2-letter-spacing: .04em;
    --font-quote-style: normal;
    --font-quote-weight: 400;
    --font-quote-size: 2.8rem;
    --font-quote-line-height: 1.1;
    --font-quote-family: "voyage";
    --font-quote-text-transform: none;
    --font-quote-letter-spacing: 0;
    --font-body-1-style: normal;
    --font-body-1-weight: 300;
    --font-body-1-size: 1.6rem;
    --font-body-1-line-height: 1.4;
    --font-body-1-family: "davis-sans";
    --font-body-1-text-transform: none;
    --font-body-1-letter-spacing: normal;
    --font-body-1-bold-style: normal;
    --font-body-1-bold-weight: 400;
    --font-body-1-bold-size: 1.6rem;
    --font-body-1-bold-line-height: 1.4;
    --font-body-1-bold-family: "davis-sans";
    --font-body-1-bold-text-transform: none;
    --font-body-1-bold-letter-spacing: normal;
    --font-body-2-style: normal;
    --font-body-2-weight: 300;
    --font-body-2-size: 1.4rem;
    --font-body-2-line-height: 1.3;
    --font-body-2-family: "davis-sans";
    --font-body-2-text-transform: none;
    --font-body-2-letter-spacing: normal;
    --font-body-2-bold-style: normal;
    --font-body-2-bold-weight: 400;
    --font-body-2-bold-size: 1.4rem;
    --font-body-2-bold-line-height: 1.3;
    --font-body-2-bold-family: "davis-sans";
    --font-body-2-bold-text-transform: none;
    --font-body-2-bold-letter-spacing: normal;
    --font-small-style: normal;
    --font-small-weight: 300;
    --font-small-size: 1.2rem;
    --font-small-line-height: 1.3;
    --font-small-family: "davis-sans";
    --font-small-text-transform: none;
    --font-small-letter-spacing: normal;
    --font-caption-style: normal;
    --font-caption-weight: 300;
    --font-caption-size: 1.1rem;
    --font-caption-line-height: 1.4;
    --font-caption-family: "davis-sans";
    --font-caption-text-transform: none;
    --font-caption-letter-spacing: normal;
    --font-tag-text-style: normal;
    --font-tag-text-weight: 400;
    --font-tag-text-size: .7rem;
    --font-tag-text-line-height: 1;
    --font-tag-text-family: "davis-sans";
    --font-tag-text-text-transform: uppercase;
    --font-tag-text-letter-spacing: .04em;
    --font-xl: var(--font-xl-style) var(--font-xl-weight) var(--font-xl-size) / var(--font-xl-line-height) var(--font-xl-family);
    --font-h1: var(--font-h1-style) var(--font-h1-weight) var(--font-h1-size) / var(--font-h1-line-height) var(--font-h1-family);
    --font-h2: var(--font-h2-style) var(--font-h2-weight) var(--font-h2-size) / var(--font-h2-line-height) var(--font-h2-family);
    --font-h3: var(--font-h3-style) var(--font-h3-weight) var(--font-h3-size) / var(--font-h3-line-height) var(--font-h3-family);
    --font-h4: var(--font-h4-style) var(--font-h4-weight) var(--font-h4-size) / var(--font-h4-line-height) var(--font-h4-family);
    --font-h5: var(--font-h5-style) var(--font-h5-weight) var(--font-h5-size) / var(--font-h5-line-height) var(--font-h5-family);
    --font-h6: var(--font-h6-style) var(--font-h6-weight) var(--font-h6-size) / var(--font-h5-line-height) var(--font-h6-family);
    --font-eyebrow-regular: var(--font-eyebrow-regular-style) var(--font-eyebrow-regular-weight) var(--font-eyebrow-regular-size) / var(--font-eyebrow-regular-line-height) var(--font-eyebrow-regular-family);
    --font-eyebrow-small: var(--font-eyebrow-small-style) var(--font-eyebrow-small-weight) var(--font-eyebrow-small-size) / var(--font-eyebrow-small-line-height) var(--font-eyebrow-small-family);
    --font-utility-1: var(--font-utility-1-style) var(--font-utility-1-weight) var(--font-utility-1-size) / var(--font-utility-1-line-height) var(--font-utility-1-family);
    --font-utility-2: var(--font-utility-2-style) var(--font-utility-2-weight) var(--font-utility-2-size) / var(--font-utility-2-line-height) var(--font-utility-2-family);
    --font-quote: var(--font-quote-style) var(--font-quote-weight) var(--font-quote-size) / var(--font-quote-line-height) var(--font-quote-family);
    --font-body-1: var(--font-body-1-style) var(--font-body-1-weight) var(--font-body-1-size) / var(--font-body-1-line-height) var(--font-body-1-family);
    --font-body-1-bold: var(--font-body-1-bold-style) var(--font-body-1-bold-weight) var(--font-body-1-bold-size) / var(--font-body-1-bold-line-height) var(--font-body-1-bold-family);
    --font-body-2: var(--font-body-2-style) var(--font-body-2-weight) var(--font-body-2-size) / var(--font-body-2-line-height) var(--font-body-2-family);
    --font-body-2-bold: var(--font-body-2-bold-style) var(--font-body-2-bold-weight) var(--font-body-2-bold-size) / var(--font-body-2-bold-line-height) var(--font-body-2-bold-family);
    --font-small: var(--font-small-style) var(--font-small-weight) var(--font-small-size) / var(--font-small-line-height) var(--font-small-family);
    --font-caption: var(--font-caption-style) var(--font-caption-weight) var(--font-caption-size) / var(--font-caption-line-height) var(--font-caption-family);
    --font-tag-text: var(--font-tag-text-style) var(--font-tag-text-weight) var(--font-tag-text-size) / var(--font-tag-text-line-height) var(--font-tag-text-family);
}

.hero {
    --border-color: var(--color-black);
    position: relative
}

@media(min-width: 1024px) {
    .hero__blocks--grid {
        display:grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column
    }
}

.hero__block {
    position: relative
}

@media(min-width: 1024px) {
    .hero__block {
        aspect-ratio:var(--block-aspect-ratio,1)
    }
}

.hero__section-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.hero__content-block--below-image {
    aspect-ratio: auto
}

.hero__image-block {
    display: none;
    position: relative
}

@media(min-width: 1024px) {
    .hero__image-block {
        display:block
    }
}

@media(min-width: 1024px) {
    .hero__image-block-image {
        position:absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0
    }
}

.hero__content-block-image {
    display: none
}

@media(min-width: 1024px) {
    .hero__content-block-image {
        display:block
    }
}

@media(min-width: 1024px) {
    .hero__content-block-mobile-image {
        display:none
    }
}

.hero__content {
    z-index: 15;
    position: relative;
    background: var(--color-off-white-sand);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 var(--space-40);
    margin-top: -100px;
    padding: var(--space-40) var(--space-40) var(--space-50)
}

@media(min-width: 1024px) {
    .hero__content {
        margin:0 auto;
        margin-top: -120px
    }
}

.hero__content--below-image {
    max-width: 931px
}

.hero__content--no-box {
    margin: 0 auto;
    background: 0;
    padding: var(--space-15) var(--space-50)
}

.hero__content--over-image {
    margin-top: -125px
}

@media(min-width: 576px) {
    .hero__content--over-image {
        top: 0;
        margin:0;
        bottom: var(--space-90);
    }
}

@media(min-width: 1024px) {
    .hero__content--over-image {
        max-height: 360px;
        max-width: 360px;
    }
}

@media(min-width: 1024px) {
    .hero__content-block-image--background {
        position:absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0
    }
}

@media(max-width: 430px) {
.image.hero__content-block-image--background {
    display: none;
}
.hero__content {
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    position: absolute;
    left: 0;
    right: 0;
    width: 320px;
    padding: 32px 0px;
}
}

@media(max-width: 600px) {
    .hero__accent-image--1 {
        top: -10% !important;
        left: -2% !important;
        width: 26% !important;
    }

    .hero__accent-image--2 {
        bottom: -10% !important;
        right: -2% !important;
        width: 26% !important;
    }

    .hero__accent-image {
        position: absolute;
        display: block;
        z-index: 10;
        height: auto;
    }
    .hero__content-heading {
        font-size: normal 400 2.5rem / .95 "voyage";
        text-transform: var(--font-h1-text-transform);
        letter-spacing: var(--font-h1-letter-spacing)
    }
}

@media(max-width: 350px) {
    .hero__content {
        width: 260px;
    }
}

.hero__content-block-video {
    padding-bottom: var(--aspect-ratio-mobile)
}

@media(min-width: 1024px) {
    .hero__content-block-video {
        aspect-ratio:2;
        padding-bottom: 0
    }
}

@media(min-width: 1024px) {
.double-border {
    --border-shadow: inset 0 0 0 8px var(--background-color,var(--color-off-white-sand)),inset 0 0 0 10px var(--border-color,#000),inset 0 0 0 13px var(--background-color,var(--color-off-white-sand)),inset 0 0 0 14px var(--border-color,#000);
}
}

.double-border {
    --border-shadow: inset 0 0 0 8px var(--background-color,var(--color-off-white-sand)),inset 0 0 0 10px var(--border-color,#000),inset 0 0 0 13px var(--background-color,var(--color-off-white-sand)),inset 0 0 0 14px var(--border-color,#000);
    box-shadow: var(--border-shadow);
}

.hero__content-eyebrow {
    font: var(--font-eyebrow-regular);
    text-transform: var(--font-eyebrow-regular-text-transform);
    letter-spacing: var(--font-eyebrow-regular-letter-spacing);
    margin-bottom: var(--space-10)
}

.button--primary, .cc-settings-view .cc-settings-dialog button.cc-btn.cc-btn-accept-all, .cc-window.cc-banner.cc-window button.cc-btn.cc-allow {
    background: #222;
    border-color: #222;
    color: #fff;
    border: .1rem solid transparent;
    border-radius: .4rem;
    cursor: pointer;
    max-width: 100%;
    padding: 0.8rem;
    font: normal 400 0.8rem / 1.4 "davis-sans" !important; 
    text-align: center;
    transition: background .15s ease-in-out, color .15s ease-in-out, border .15s ease-in-out;
    text-decoration: none;
    max-width: 160px;
    margin-top: 1rem !important;
}

.button--primary:hover, .cc-settings-view .cc-settings-dialog button.cc-btn.cc-btn-accept-all:hover, .cc-window.cc-banner.cc-window button.cc-btn.cc-allow:hover {
    background: #fbf8f1;
    border-color: #222;
    color: #222;
}

.hero__content-heading {
    font: normal 400 2.2rem / .95 "voyage";
    text-transform: var(--font-h1-text-transform);
    letter-spacing: var(--font-h1-letter-spacing)
}

@media(min-width: 1024px) {
    .hero__content-heading {
        font:normal 400 2rem / .95 "voyage";
        text-transform: var(--font-h2-text-transform);
        letter-spacing: var(--font-h2-letter-spacing)
    }
}

.hero__content-copy {
    margin-top: 2rem;
    max-width: 52.1rem;
    margin-bottom: 1rem;
}

.hero__content-cta {
    margin-top: 1rem;
    padding: 1rem;
    font: var(--font-utility-2);
    text-transform: var(--font-utility-2-text-transform);
    letter-spacing: var(--font-utility-2-letter-spacing);
    --button-min-width: 166px
}

@media(min-width: 1024px) {
    .hero__content-cta {
        font:var(--font-utility-1);
        text-transform: var(--font-utility-1-text-transform);
        letter-spacing: var(--font-utility-1-letter-spacing);
        padding: 0.5rem 2rem;
        --button-min-width: 215px
    }
}

@media(min-width: 1366px) {
    .hero__content--over-image .hero__content-heading {
        font: normal 400 2.5rem / .95 "voyage";
        text-transform: var(--font-xl-text-transform);
        letter-spacing: var(--font-xl-letter-spacing)
    }
}

.hero__accent-image {
    position: absolute;
    z-index: 10;
    width: 100px;
    height: auto
}

@media(min-width: 1024px) {
    .hero__accent-image {
        display:block;
        width: 130px
    }
}

.hero__accent-image--1 {
    top: -10%;
    left: -10%;
    width: 35%
}

.hero__accent-image--2 {
    bottom: -12%;
    right: -12%;
    width: 33%
}


@media screen and (max-width: 47.9375rem) {
    .four-0-four .hero__slide-cta {
        margin-top:0;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content
    }

    .four-0-four .hero__slide-cta a {
        width: 100%
    }

    .four-0-four .hero__slide .heading,.four-0-four .hero__slide .subheading-1 {
        margin-bottom: 1rem
    }

    .template-404 .quick-links-image-text-section {
        margin-top: 2rem
    }
}

#shopify-section-product .product-details-upper,.features-product-section .product-details-upper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    display: grid;
    grid-template-columns: repeat(12,1fr)
}

@media(min-width: 47.9375rem) {
    #shopify-section-product .product-details-upper,.features-product-section .product-details-upper {
        gap:1.5rem;
        grid-template-columns: repeat(12,1fr);
        margin-top: 1.5rem;
        position: relative
    }
}

#shopify-section-product .product-details-upper .product-details__brands-vendor,.features-product-section .product-details-upper .product-details__brands-vendor {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem
}

#shopify-section-product .product-details-upper .product-details__brand,.features-product-section .product-details-upper .product-details__brand {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-bottom: 1rem;
    opacity: .6
}

@media screen and (min-width: 64rem) {
    #shopify-section-product .product-details-upper .product-details__brand,.features-product-section .product-details-upper .product-details__brand {
        margin-bottom:24px
    }
}

#shopify-section-product .product-details-upper .product-details__brand:hover,.features-product-section .product-details-upper .product-details__brand:hover {
    -webkit-filter: none;
    filter: none;
    opacity: 1
}

#shopify-section-product .product-details-upper .product-details__brand img,.features-product-section .product-details-upper .product-details__brand img {
    max-height: 56px;
    max-width: 100px
}

#shopify-section-product .product-details-upper .product-details__vendor,.features-product-section .product-details-upper .product-details__vendor {
    color: #939393;
    font-family: var(--font-heading);
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase
}

#shopify-section-product .product-details-upper .stickers,.features-product-section .product-details-upper .stickers {
    -webkit-box-flex: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-box-align: self-start;
    -ms-flex-align: self-start;
    align-items: self-start;
    bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 auto;
    flex: 1 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-end;
    left: auto;
    position: absolute;
    top: auto;
    z-index: 5
}

#shopify-section-product .product-details-upper .sticker,.features-product-section .product-details-upper .sticker {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 12px
}

#shopify-section-product .product-details-upper .product-wishlist,.features-product-section .product-details-upper .product-wishlist {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    justify-content: center;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 40px;
    z-index: 5
}

#shopify-section-product .product-details-upper .product-wishlist button,.features-product-section .product-details-upper .product-wishlist button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%
}

#shopify-section-product .product-details-upper .product-wishlist .swym-added .icon-wishlist,.features-product-section .product-details-upper .product-wishlist .swym-added .icon-wishlist {
    fill: #f2f2f2
}

#shopify-section-product .product-details-upper .product-wishlist .swym-added .icon-wishlist path,.features-product-section .product-details-upper .product-wishlist .swym-added .icon-wishlist path {
    stroke: #f2f2f2
}

#shopify-section-product .product-details-gallery-wrapper,.features-product-section .product-details-gallery-wrapper {
    grid-column: span 12
}

@media screen and (min-width: 47.9375rem) {
    #shopify-section-product .product-details-gallery-wrapper,.features-product-section .product-details-gallery-wrapper {
        grid-column:span 6;
        top: 0
    }
}

@media screen and (min-width: 64rem) {
    #shopify-section-product .product-details-gallery-wrapper,.features-product-section .product-details-gallery-wrapper {
        grid-column:span 7;
        top: 0
    }
}

#shopify-section-product .product-details-gallery-wrapper .product-media-list .grid-item__half-width,.features-product-section .product-details-gallery-wrapper .product-media-list .grid-item__half-width {
    grid-column: 1/-1
}

@media screen and (min-width: 64rem) {
    #shopify-section-product .product-details-gallery-wrapper .product-media-list .grid-item__half-width,.features-product-section .product-details-gallery-wrapper .product-media-list .grid-item__half-width {
        grid-column:span 1
    }
}

#shopify-section-product .product-details-gallery-wrapper .product-media-list .image-snippet,.features-product-section .product-details-gallery-wrapper .product-media-list .image-snippet {
    height: 100%
}

@media(max-width: 47.9375rem) {
    #shopify-section-product .product-details-gallery-wrapper .product-zoom-media-images .product-zoom-media-images__inner i.swiper-icon,.features-product-section .product-details-gallery-wrapper .product-zoom-media-images .product-zoom-media-images__inner i.swiper-icon {
        position:absolute;
        right: 1rem;
        top: 1rem;
        z-index: 2
    }
}

#shopify-section-product .product-details-form-wrapper,.features-product-section .product-details-form-wrapper {
    grid-column: span 12;
    margin: auto;
    padding: 0 1rem;
    position: relative
}

@media(max-width: 63.9375rem)and (min-width:48rem) {
    #shopify-section-product .product-details-form-wrapper,.features-product-section .product-details-form-wrapper {
        max-width:344px
    }
}

@media(min-width: 48rem) {
    #shopify-section-product .product-details-form-wrapper,.features-product-section .product-details-form-wrapper {
        position:sticky;
        top: 1.5rem
    }
}

@media screen and (min-width: 47.9375rem) {
    #shopify-section-product .product-details-form-wrapper,.features-product-section .product-details-form-wrapper {
        grid-column:span 6;
        margin: 0;
        padding: 0;
        width: 100%
    }
}

@media screen and (min-width: 64rem) {
    #shopify-section-product .product-details-form-wrapper,.features-product-section .product-details-form-wrapper {
        grid-column:span 5;
        margin: 0;
        width: 100%
    }
}

#shopify-section-product .product-details-form-wrapper .stickers,.features-product-section .product-details-form-wrapper .stickers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    bottom: 0;
    -ms-flex-direction: row;
    flex-direction: row;
    font-family: var(--font-heading);
    justify-content: flex-start;
    margin-bottom: 1rem;
    margin-top: 0;
    position: relative
}

@media(min-width: 48rem) {
    #shopify-section-product .product-details-form-wrapper .stickers,.features-product-section .product-details-form-wrapper .stickers {
        margin-bottom:1.5rem
    }
}

#shopify-section-product .product-details-form-wrapper .stickers .sticker,.features-product-section .product-details-form-wrapper .stickers .sticker {
    padding: .5rem .75rem
}

#shopify-section-product .product-details-form-wrapper .stickers .sticker:first-child,.features-product-section .product-details-form-wrapper .stickers .sticker:first-child {
    margin-left: 0
}

#shopify-section-product .product-details-form-wrapper .stickers .sticker-text,.features-product-section .product-details-form-wrapper .stickers .sticker-text {
    font-size: .75rem
}

#shopify-section-product .product-details-form-wrapper .stickers .sticker-text.subheading-3,.features-product-section .product-details-form-wrapper .stickers .sticker-text.subheading-3 {
    font-family: var(--font-heading);
    line-height: normal
}

#shopify-section-product .product-details-form-wrapper .product-title,.features-product-section .product-details-form-wrapper .product-title {
    margin: 0 0 1rem
}

@media(min-width: 64rem) {
    #shopify-section-product .product-details-form-wrapper .product-title,.features-product-section .product-details-form-wrapper .product-title {
        margin:0 0 1.5rem
    }
}

#shopify-section-product .product-details-form-wrapper .dropdown-accordion,.features-product-section .product-details-form-wrapper .dropdown-accordion {
    margin-bottom: 2rem
}

#shopify-section-product .product-details-form-wrapper .dropdown-accordion .dropdown-accordion__toggle,.features-product-section .product-details-form-wrapper .dropdown-accordion .dropdown-accordion__toggle {
    min-height: 55px
}

#shopify-section-product .cart-shipping-bands-section,.features-product-section .cart-shipping-bands-section {
    margin-bottom: 2rem;
    margin-top: 2rem
}

#shopify-section-product .cart-shipping-bands-section ul li:last-of-type,.features-product-section .cart-shipping-bands-section ul li:last-of-type {
    margin-bottom: 0
}

#shopify-section-product afterpay-placement,.features-product-section afterpay-placement {
    margin: 0 0 16px!important
}

.features-product-section .product-details-form-wrapper {
    max-width: 50%
}

.recently-viewed-wrap {
    margin-bottom: 16px
}

.recently-viewed-wrap .heading-4,.recently-viewed .heading-4 {
    margin-bottom: 12px
}

.recently-viewed .recently-viewed-prod {
    text-align: center
}

.recently-viewed .recently-viewed-prod:last-child {
    margin-right: 0
}

.recently-viewed .recently-viewed-prod-title {
    display: block;
    line-height: 1.2;
    margin: 12px
}


.product {
    grid: var(--product-grid, none);
    align-items: start;
    gap: var(--product-gap, 1.875rem);
    display: grid;
  }
  
  @media screen and (min-width: 1000px) {
    .shopify-section--main-product .section-spacing {
      padding-block-start: 0;
    }
  
    .product {
      --product-gap: 3.5rem;
    }
  }
  
  @media screen and (min-width: 1150px) {
    .product {
      --product-gap: 5rem;
    }
  }
  
  .product-gallery {
    --product-gallery-gap: 1.5rem;
    --product-gallery-thumbnail-list-gap: 1rem 0.5rem;
    --product-gallery-thumbnail-size: 3.5rem;
    flex-direction: var(--product-gallery-flex-direction, column);
    align-items: start;
    gap: var(--product-gallery-gap) var(--product-gap, 0px);
    grid-area: product-gallery;
    display: flex;
    position: relative;
  }
  
  .product-gallery__zoom-button {
    z-index: 1;
    transition: opacity 0.2s, visibility 0.2s;
    position: absolute;
    inset-block-end: 2em;
    inset-inline-end: 0;
  }
  
  .product-gallery__zoom-button--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .product-gallery__image-list {
    row-gap: var(--product-gallery-gap);
    grid-auto-rows: max-content;
    grid-auto-columns: minmax(0, 1fr);
    width: 100%;
    display: grid;
  }
  
  .product-gallery__carousel {
    grid: var(--product-gallery-carousel-grid, auto / auto-flow 100%);
    align-items: start;
    gap: var(
      --product-gallery-carousel-gap,
      1.5rem min(1.5rem, var(--container-gutter))
    );
    scroll-snap-type: var(
      --product-gallery-carousel-scroll-snap-type,
      x mandatory
    );
    display: grid;
    position: relative;
  }
  
  .product-gallery[allow-zoom] .product-gallery__media {
    cursor: var(--cursor-zoom-in-svg-url) 18 18, zoom-in;
  }
  
  .product-gallery__media > * {
    width: 100%;
  }
  
  .product-gallery__thumbnail-list {
    flex-shrink: 0;
    max-width: 100%;
    position: relative;
  }
  
  .product-gallery__thumbnail-scroller {
    grid-auto-columns: var(--product-gallery-thumbnail-size);
    grid-auto-flow: var(--product-gallery-thumbnail-list-grid-auto-flow, column);
    align-content: start;
    align-items: start;
    gap: var(--product-gallery-thumbnail-list-gap);
    max-height: var(--product-gallery-thumbnail-list-max-height, none);
    scroll-snap-type: both mandatory;
    overscroll-behavior: contain;
    scrollbar-width: none;
    grid-template-columns: none;
    display: grid;
    position: relative;
    overflow: auto;
  }
  
  .product-gallery__thumbnail-scroller::-webkit-scrollbar {
    display: none;
  }
  
  .product-gallery__thumbnail {
    border: 1px solid #0000;
    padding: 1px;
    transition: border-color 0.1s;
    position: relative;
  }
  
  .product-gallery__thumbnail[aria-current='true'] {
    border-color: currentColor;
  }
  
  .product-gallery__media-badge {
    position: absolute;
    inset-block-start: 3px;
    inset-inline-end: 3px;
  }
  
  @media screen and (max-width: 999px) {
    .product-gallery__carousel-with-arrows {
      align-items: center;
      display: flex;
    }
  
    .product-gallery__carousel-with-arrows .product-gallery__media > img {
      width: 45vw;
      margin-inline: auto;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .product-gallery__thumbnail-list {
      position: sticky;
      inset-block-start: calc(var(--sticky-area-height) + 20px);
    }
  
    .product-gallery__media {
      scroll-margin-block-start: 1.25rem;
    }
    .product-info .badge-list {
      display: none !important;
    }
  }
  @media screen and (max-width: 1000px) {
    .product-info .badge-list {
      display: none !important;
    }
  }
  
  .product-info {
    --product-info-gap: 1rem;
    grid-area: product-info;
  }
  
  .product-info__block-list > :first-child {
    margin-block-start: 24px;
  }
  
  .product-info__block-list > :not(:first-child) {
    margin-block-start: var(--product-info-gap);
  }
  
  .product-info__block-list > :not(:last-child) {
    margin-block-end: var(--product-info-gap);
  }
  
  .product-info__block-item:empty {
    display: none;
  }
  
  .product-info__block-item:not(:has(> :not([hidden]))) {
    display: none;
  }
  
  .product-info__block-item:is(
      [data-block-type='vendor'],
      [data-block-type='title'],
      [data-block-type='sku'],
      [data-block-type='price']
    ) {
    --product-info-gap: 0.5rem;
  }
  
  .product-info__block-group:has(
      .product-info__block-item:is(
          [data-block-type='vendor'],
          [data-block-type='title'],
          [data-block-type='sku'],
          [data-block-type='price']
        )
    ) {
    --product-info-gap: 0.5rem;
  }
  
  .product-info__block-item:is(
      [data-block-type='variant-picker'],
      [data-block-type='product-variations'],
      [data-block-type='separator'],
      [data-block-type='description'],
      [data-block-type='text'],
      [data-block-type='liquid'],
      [data-block-type='share-buttons']
    ) {
    --product-info-gap: 1.5rem;
  }
  
  .product-info__block-group:has(
      .product-info__block-item:is(
          [data-block-type='variant-picker'],
          [data-block-type='product-variations'],
          [data-block-type='separator'],
          [data-block-type='description'],
          [data-block-type='text'],
          [data-block-type='liquid'],
          [data-block-type='share-buttons']
        )
    ) {
    --product-info-gap: 1.5rem;
  }
  
  .product-info__block-item:is(
      [data-block-type='inventory'],
      [data-block-type='buy-buttons'],
      [data-block-type='pickup-availability'],
      [data-block-type='more-information'],
      [data-block-type='offers']
    ) {
    --product-info-gap: 2rem;
  }
  
  .product-info__block-group:has(
      .product-info__block-item:is(
          [data-block-type='inventory'],
          [data-block-type='buy-buttons'],
          [data-block-type='pickup-availability'],
          [data-block-type='more-information'],
          [data-block-type='offers']
        )
    ) {
    --product-info-gap: 2rem;
  }
  
  .product-info__block-item[data-block-type='complementary-products'] {
    --product-info-gap: 3rem;
  }
  
  .product-info__block-group:has(
      .product-info__block-item[data-block-type='complementary-products']
    ) {
    --product-info-gap: 3rem;
  }
  
  @media screen and (max-width: 699px) {
    .product-info--center
      :is(
        [data-block-type='vendor'],
        [data-block-type='title'],
        [data-block-type='sku'],
        [data-block-type='price']
      ) {
      text-align: center;
    }
  
    .product-info--center :is(.badge-list, .price-list, .rating-badge) {
      justify-content: center;
    }
  
    .product-info--center .text-with-rating {
      flex-direction: column;
      justify-content: center;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .product-info {
      position: sticky;
      inset-block-start: calc(var(--sticky-area-height) + 20px);
    }
  }
  
  .product-content-below-gallery {
    grid-area: product-content;
  }
  
  .product-content-below-gallery product-recommendations:not(:first-child) {
    margin-block-start: max(48px, var(--product-gap, 0px));
  }
  
  .product-content-below-gallery product-recommendations:not(:last-child) {
    margin-block-end: max(48px, var(--product-gap, 0px));
  }
  
  .product-content-below-gallery__description:not(:last-child) {
    margin-block-end: 1.25rem;
  }
  
  .product-info__more-info {
    border-block-width: 1px;
    justify-content: space-between;
    align-items: center;
    padding: 0.9375rem;
    display: flex;
  }
  
  .product-info__more-info > svg {
    transition: transform 0.2s ease-in-out;
  }
  
  @media screen and (pointer: fine) {
    .product-info__more-info:hover > svg {
      transform: translateX(5px);
    }
  }
  
  .variant-picker .popover {
    --popover-block-offset: 0.5rem;
    --popover-body-padding-inline: 1.25rem;
    width: 100%;
  }
  
  .variant-picker .popover::part(content) {
    width: 100%;
    max-width: none;
  }
  
  :not(.is-disabled) > .variant-picker__dropdown-sold-out-label {
    display: none;
  }
  
  .buy-buttons {
    row-gap: 1rem;
    display: grid;
  }
  
  .pickup-location {
    align-items: start;
    gap: 0.25rem;
    display: grid;
  }
  
  .pickup-location + .pickup-location {
    padding-block-start: 1rem;
  }
  
  .product-offers .page-dots {
    padding-block-end: 1.5rem;
  }
  
  .product-offers__item {
    padding: 1.5rem;
  }
  
  .page-progress {
  }
  
  .product-offers__list--carousel {
    grid: auto / auto-flow 100%;
    display: grid;
  }
  
  .complementary-products {
    grid-template-columns: minmax(0, 1fr);
    row-gap: 1.875rem;
    max-width: 40rem;
    margin-inline: auto;
    display: grid;
  }
  
  .complementary-products__header {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .complementary-products__header--align-start {
    text-align: start;
    justify-content: space-between;
  }
  
  .complementary-products__product-list {
    gap: 1.25rem;
    display: grid;
    position: relative;
  }
  
  .complementary-products__product-list--carousel {
    grid: auto / auto-flow 100%;
  }
  
  @media screen and (max-width: 699px) {
    .complementary-products__product-list--carousel .product-card__figure {
      max-width: 11.25rem;
      margin-inline: auto;
    }
  }
  
  @media screen and (min-width: 700px) {
    .complementary-products {
      row-gap: 1rem;
    }
  
    .complementary-products__header {
      text-align: start;
      justify-content: space-between;
    }
  }
  
  .product-sticky-bar {
    padding: var(--container-gutter);
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    width: 100%;
    transition: opacity 0.2s, visibility 0.2s;
    display: block;
    position: fixed;
    inset-block-end: 0;
    inset-inline-start: 0;
  }
  
  .product-sticky-bar.is-visible {
    opacity: 1;
    visibility: visible;
  }
  
  .product-sticky-bar__info img {
    width: 3.75rem;
  }
  
  @media screen and (min-width: 700px) {
    .product-sticky-bar {
      /* inset-block: var(--sticky-area-height) auto; */
      background: rgb(var(--background));
      border-block-end-width: 1px;
      grid-template-columns: minmax(0, 1fr) max-content;
      align-items: center;
      padding-block: 1.125rem;
      display: grid;
    }
  }
  
  .scrolling-content {
    text-align: start;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    display: block;
    position: relative;
    overflow: hidden;
  }
  
  .scrolling-content[direction='right'] {
    text-align: end;
  }
  
  .scrolling-content::part(scroller) {
    min-width: max-content;
    display: inline-flex;
    position: relative;
  }
  
  .scrolling-content__item {
    flex-shrink: 0;
    align-items: center;
    display: flex;
  }
  
  .scrolling-content__item > * {
    margin-inline-start: calc(var(--scrolling-content-content-gap) / 2);
    margin-inline-end: calc(var(--scrolling-content-content-gap) / 2);
  }
  
  .scrolling-content__image > img {
    max-width: 1.5em;
  }
  
  .main-search-form {
    min-width: 18.75rem;
  }
  
  .main-search__linklist {
    text-align: center;
    max-width: 25rem;
    margin-inline: auto;
  }
  
  .shop-the-look__carousel {
    z-index: 2;
    grid: auto / auto-flow 100%;
    align-items: start;
    gap: 0.625rem;
    display: grid;
    position: relative;
    overflow: visible;
  }
  
  .shop-the-look__carousel.is-expanded {
    overflow: hidden;
  }
  
  .shop-the-look__image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
  }
  
  .shop-the-look__hot-spot-list {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
  }
  
  .shop-the-look__hot-spot {
    --hot-spot-size: 1rem;
    top: calc(var(--shop-the-look-hot-spot-top) - (var(--hot-spot-size) / 2));
    left: calc(var(--shop-the-look-hot-spot-left) - (var(--hot-spot-size) / 2));
    width: var(--hot-spot-size);
    height: var(--hot-spot-size);
    border-radius: var(--rounded-full);
    transition: transform 0.2s ease-in-out;
    position: absolute;
  }
  
  .shop-the-look__hot-spot:after {
    --hot-spot-after-size: calc(var(--hot-spot-size) * 2.5);
    content: '';
    top: calc(50% - var(--hot-spot-after-size) / 2);
    left: calc(50% - var(--hot-spot-after-size) / 2);
    width: var(--hot-spot-after-size);
    height: var(--hot-spot-after-size);
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgb(var(--background) / 0),
      rgb(var(--background) / 0.3)
    );
    border-radius: var(--rounded-full);
    animation: 2s ease-in-out infinite alternate ping;
    position: absolute;
  }
  
  .shop-the-look__hot-spot[aria-current='true'] {
    transform: scale(1.3);
  }
  
  .shop-the-look__item-carousel {
    grid: auto / auto-flow 100%;
    justify-items: center;
    display: grid;
    position: relative;
  }
  
  .shop-the-look__item {
    position: relative;
  }
  
  .shop-the-look__popover .product-card__figure {
    width: 80%;
    /* max-width: 10rem; */
    margin-inline: auto;
  }
  
  .shop-the-look__popover::part(base) {
    height: auto;
    inset: auto auto 0 0;
  }
  
  .shop-the-look__popover::part(overlay) {
    display: none;
  }
  
  @media screen and (max-width: 699px) {
    .shopify-section--shop-the-look:before {
      content: '';
      opacity: 0;
      pointer-events: none;
      background: rgb(var(--background));
      z-index: 2;
      width: 100%;
      height: 100%;
      transition: opacity 0.4s;
      position: fixed;
      inset-block-start: 0;
      inset-inline-start: 0;
    }
  
    .shopify-section--shop-the-look:has(
        .shop-the-look__carousel.is-expanded
      ):before {
      opacity: 1;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .shop-the-look__carousel {
      grid: none;
      align-items: center;
    }
  
    .shop-the-look__item {
      /* max-width: var(--container-sm-max-width); */
      grid: auto / min(550px, 60%) minmax(0, 1fr);
      grid-template-columns: 1fr 1fr;
      grid-area: 1 / -1;
      align-items: center;
      gap: 0.3125rem;
      margin-inline: auto;
      display: grid;
    }
  
    .shop-the-look__item:not(.is-selected) {
      visibility: hidden;
    }
  
    .shop-the-look__item-product {
      grid-area: 1 / -1;
      max-width: 70%;
    }
  
    .shop-the-look__item-product:not(.is-selected) {
      visibility: hidden;
    }
  
    .shop-the-look__item-content {
      opacity: 0;
      justify-items: center;
      gap: 1.5rem;
      display: grid;
    }
  }
  
  @media screen and (pointer: fine) {
    .shop-the-look__hot-spot:hover {
      transform: scale(1.3);
    }
  }
  
  .slideshow {
    --slideshow-controls-spacing: var(--container-gutter);
    background: rgb(var(--slideshow-background));
    display: block;
    position: relative;
  }
  

